---
---

// add bootstrap variable settings here

@import 'bootswatch/variables';
@import 'bootstrap/stylesheets/bootstrap';
@import 'bootswatch/bootswatch';

@import 'jquery.fullpage';

.documentation {
  padding-top:40px;
}

#markdown-toc {
  display:none;
  position: fixed;
  top:120px;
  left:0%;
}

@media (min-width: $screen-sm-min) {
  #markdown-toc {
    display:block;
  }
}

