---
---

// add bootstrap variable settings here

@import 'bootswatch/variables';
@import 'bootstrap/stylesheets/bootstrap';
@import 'bootswatch/bootswatch';

@import 'jquery.fullpage';


#footer {
  height:50px;
}





